<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhotoLabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" archiveAboveSize="5242880" layout="${longdate}|${callsite:includeSourcePath=False:cleanNamesOfAsyncContinuations=True:skipFrames=1}|${level}|${message}" fileName="${specialfolder:file=log.txt:folder=ApplicationData}" maxArchiveFiles="3" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <userSettings>
    <PhotoLabel.Properties.Settings>
      <setting name="Color" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Zoom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CaptionAlignment" serializeAs="String">
        <value>BottomRight</value>
      </setting>
      <setting name="MapsURL" serializeAs="String">
        <value>https://www.google.com/maps/place/{0},{1}</value>
      </setting>
      <setting name="PreviewSize" serializeAs="String">
        <value>128, 128</value>
      </setting>
    </PhotoLabel.Properties.Settings>
  </userSettings>
</configuration>