<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PhotoLabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" archiveAboveSize="5242880" layout="${longdate}|${threadid}|${callsite:includeSourcePath=False:cleanNamesOfAsyncContinuations=True:skipFrames=1}|${level}|${message}" fileName="${specialfolder:folder=ApplicationData}/Photo Label/log.txt" maxArchiveFiles="3"/>
      <target name="console" xsi:type="Console" layout="${longdate}|${callsite:includeSourcePath=False:cleanNamesOfAsyncContinuations=True:skipFrames=1}|${level}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="file"/>
    </rules>
  </nlog>
  <userSettings>
    <PhotoLabel.Properties.Settings>
      <setting name="MapsURL" serializeAs="String">
        <value>https://www.google.com/maps/place/{0},{1}</value>
      </setting>
      <setting name="PreviewSize" serializeAs="String">
        <value>128, 128</value>
      </setting>
    </PhotoLabel.Properties.Settings>
  </userSettings>
</configuration>
