<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoLibrary.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotoLibrary.Models.Properties.Settings>
            <setting name="Zoom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentlyUsedFiles" serializeAs="PhotoLibrary.Models.RecentlyUsedFiles">
                <value />
            </setting>
        </PhotoLibrary.Models.Properties.Settings>
    </userSettings>
</configuration>